In [95]:
import pandas as pd

In [135]:
Naver_1_50 = pd.read_csv('네이버_1-50_태영.csv',encoding='cp949')
Naver_51_100 = pd.read_csv('네이버_51-100_지우.csv',encoding='cp949')
Naver_101_600 = pd.read_csv('네이버_101-600_수린.csv',encoding='utf-8')
Naver_601_1100 = pd.read_csv('네이버_601-1100_지우.csv',encoding='cp949')
Naver_1101_1600 = pd.read_csv('네이버_1101-1600_태영.csv',encoding='cp949')
Naver_1601_2100 = pd.read_csv('네이버_1601-2100_성원.csv',encoding='cp949')

### 쉽게 걸러주기 위해 select_people 맞춰줌

In [136]:
# 이 키워드를 선택한 인원\n
Naver_101_600['selected_people'] = '이 키워드를 선택한 인원\n' + Naver_101_600['selected_people'].astype(str)
Naver_101_600

     tourist_spot    목록     good_point      selected_people
0        서울어린이대공원  테마파크   "아이와 가기 좋아요"  이 키워드를 선택한 인원\n1964
1        서울어린이대공원  테마파크   "가격이 합리적이에요"  이 키워드를 선택한 인원\n1403
2        서울어린이대공원  테마파크   "놀이기구가 다양해요"   이 키워드를 선택한 인원\n861
3        서울어린이대공원  테마파크     "볼거리가 많아요"   이 키워드를 선택한 인원\n824
4        서울어린이대공원  테마파크     "주차하기 편해요"   이 키워드를 선택한 인원\n489
...           ...   ...            ...                  ...
3065        간송미술관    박물  "전시 테마가 재밌어요"     이 키워드를 선택한 인원\n2
3066        간송미술관    박물   "아이와 가기 좋아요"     이 키워드를 선택한 인원\n2
3067        간송미술관    박물     "주차하기 편해요"     이 키워드를 선택한 인원\n2
3068        간송미술관    박물    "사진이 잘 나와요"     이 키워드를 선택한 인원\n1
3069        간송미술관    박물      "공간이 넓어요"     이 키워드를 선택한 인원\n1

[3070 rows x 4 columns]

### 총 갯수 확인

In [137]:
sum_data_1 = [Naver_1_50, Naver_51_100, Naver_101_600, Naver_601_1100, Naver_1101_1600, Naver_1601_2100]

total_naver_rows = sum(len(df) for df in sum_data_1)
total_naver_rows

17740

### 컬럼 확인

In [138]:
print(Naver_1_50.columns)
print(Naver_51_100.columns)
print(Naver_101_600.columns)
print(Naver_601_1100.columns)
print(Naver_1101_1600.columns)
print(Naver_1601_2100.columns)

Index(['tourist_spot', 'spot_arrtribute', 'good_point', 'selected_people'], dtype='object')
Index(['Unnamed: 0', 'tourist_spot', 'good_point', 'selected_people'], dtype='object')
Index(['tourist_spot', '목록', 'good_point', 'selected_people'], dtype='object')
Index(['Unnamed: 0', 'tourist_spot', 'good_point', 'selected_people'], dtype='object')
Index(['Unnamed: 0', 'tourist_spot', 'spot_arrtribute', 'good_point',
       'selected_people'],
      dtype='object')
Index(['tourist_spot', 'spot_arrtribute', 'good_point', 'selected_people'], dtype='object')

In [139]:
Naver_101_600.head(3)

  tourist_spot    목록    good_point      selected_people
0     서울어린이대공원  테마파크  "아이와 가기 좋아요"  이 키워드를 선택한 인원\n1964
1     서울어린이대공원  테마파크  "가격이 합리적이에요"  이 키워드를 선택한 인원\n1403
2     서울어린이대공원  테마파크  "놀이기구가 다양해요"   이 키워드를 선택한 인원\n861

### 컬럼 변경 및 통일하기

In [140]:
# Attraction, Subclass, Good_Point, Selected_People
def Change_Col_Names(*Variable_Name):
    for k in Variable_Name:
        k.rename(columns={'tourist_spot': 'Attraction',
                        'spot_arrtribute': 'Subclass',
                        'good_point': 'Good_Point',
                        'selected_people':'Selected_People',
                        '목록':'Subclass',
                        }, inplace=True)
        k.reset_index(drop = True, inplace=True)

Change_Col_Names(Naver_1_50, Naver_51_100, Naver_101_600, Naver_601_1100, Naver_1101_1600, Naver_1601_2100)

### 필요한 컬럼만 사용

In [141]:
condition = ['Attraction','Good_Point', 'Selected_People']

Naver_1_50 = Naver_1_50[condition]
Naver_51_100 = Naver_51_100[condition]
Naver_101_600 = Naver_101_600[condition]
Naver_601_1100 = Naver_601_1100[condition]
Naver_1101_1600 = Naver_1101_1600[condition]
Naver_1601_2100 = Naver_1601_2100[condition]

### 컬럼 확인

In [142]:
print(Naver_1_50.columns)
print(Naver_51_100.columns)
print(Naver_101_600.columns)
print(Naver_601_1100.columns)
print(Naver_1101_1600.columns)
print(Naver_1601_2100.columns)

Index(['Attraction', 'Good_Point', 'Selected_People'], dtype='object')
Index(['Attraction', 'Good_Point', 'Selected_People'], dtype='object')
Index(['Attraction', 'Good_Point', 'Selected_People'], dtype='object')
Index(['Attraction', 'Good_Point', 'Selected_People'], dtype='object')
Index(['Attraction', 'Good_Point', 'Selected_People'], dtype='object')
Index(['Attraction', 'Good_Point', 'Selected_People'], dtype='object')

### 붙이기

In [143]:
dataframes = [Naver_1_50, Naver_51_100, Naver_101_600, Naver_601_1100, Naver_1101_1600, Naver_1601_2100]
Naver_Data_2100 = pd.concat(dataframes, ignore_index=False)

### 쌍따옴표 없애기

In [147]:
Naver_Data_2100['Good_Point'] = Naver_Data_2100['Good_Point'].str.replace(r'"', '',)
Naver_Data_2100.head(3)

  Attraction   Good_Point    Selected_People
0  동대문역사문화공원       뷰가 좋아요  이 키워드를 선택한 인원\n22
1  동대문역사문화공원  관리가 잘 되어있어요  이 키워드를 선택한 인원\n21
2  동대문역사문화공원     볼거리가 많아요  이 키워드를 선택한 인원\n14

### 셀렉트 피플 숫자만 뽑기

In [180]:
# 정규식 표현 r을 안붙여도 되지만 에러가 뜸
Naver_Data_2100['Selected_People'] = Naver_Data_2100['Selected_People'].str.extract(r'(\d+)')
Naver_Data_2100.head(3)

  Attraction   Good_Point Selected_People
0  동대문역사문화공원       뷰가 좋아요              22
1  동대문역사문화공원  관리가 잘 되어있어요              21
2  동대문역사문화공원     볼거리가 많아요              14

In [181]:
Naver_Data_2100['Selected_People'] = Naver_Data_2100['Selected_People'].str.extract(r'(\d+)', expand=False).str.strip()

In [182]:
non_numeric_rows = Naver_Data_2100[~Naver_Data_2100['Selected_People'].str.contains(r'^\d+$', regex=True)]
non_numeric_rows

Empty DataFrame
Columns: [Attraction, Good_Point, Selected_People]
Index: []

### Nan 확인

In [183]:
Naver_Data_2100.isnull().sum()

Attraction         0
Good_Point         0
Selected_People    0
dtype: int64

In [185]:
Naver_Data_2100.to_csv('Naver_Data_2100.csv', encoding='cp949',index=False)